:root {
	--colorCyan: #209DA8;
	--colorCyan1: #1a848e;
	--colorWhite: #f4f4f4;
	--colorFont: #191919;
	--colorOffWhite: #fef0e1;
	--colorRed: #d9291a;
	--colorRed1: #b12316;
	--colorYellow: #ffa314;
	--colorBackground: #fef0e1
}