@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/*Configurações gerais*/
:root {
  --colorCyan: #209DA8;
  --colorWhite: #f4f4f4;
  --colorGrey: #191919;
  --colorOffWhite: #fef0e1;
  --colorRed: #d9291a;
  --colorYellow: #ffa314;
}

body{
  font-family: "Poppins", sans-serif;
  background-color: #fef0e1;
  transition: background 0.3s ease, color 0.3s ease;
  color:var(--colorGrey);
  font-size: 18px;
}

/*Estilos para modo escuro*/
body.dark {
  background-color: var(--colorGrey);
  color: var(--colorWhite);
  transition: background-color 0.3s ease;

  
  select {
    background-color: var(--colorOffWhite);
    color: var(--colorGrey);
  }

  input {
    color: var(--colorWhite);
    background-color: black;
  }

  input[type="radio"] {
    accent-color: var(--colorRed);
    
  }

  a {
    color: var(--colorOffWhite);
  }
}

@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

}

/*Configurações Página Login*/
.login-button {
  background-color: var(--colorRed);
  color: var(--colorWhite);
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: var(--colorWhite);
    color: var(--colorRed);
  }
}
