@import "tailwindcss";
/*Configurações gerais*/
:root {
  --colorCyan: #209DA8;
  --colorWhite: #f4f4f4;
  --colorGrey: #191919;
  --colorOffWhite: #fef0e1;
  --colorRed: #d9291a;
  --colorYellow: #ffa314;
}


body{
  font-family: "Poppins", sans-serif;
  background-color: #fef0e1;
  color:var(--colorGrey)
}

@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

}

/*Configurações Página Login*/
.login-button {
  background-color: var(--colorRed);
  color: var(--colorWhite);
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: var(--colorWhite);
    color: var(--colorRed);
  }
}